body, html {
    height: 100%;
}
/* form{
    margin: 0 auto;
    text-align: center;
} */
#NavForm{
    border-radius: 30px 30px 30px 30px;
    max-width: 400px;
    /* min-width: 200px; */
    width: 100vh;
    /* width: 500%; */
    /* align-items: center; */
    /* justify-self: center; */
    
    
}
.navbar{
    margin-bottom: 0;
    border: 0;
}
.wrapper input[type="text"] {
    position: relative; 
}

input { font-family: 'FontAwesome' } /* This is for the placeholder */

.wrapper:before {
    font-family: 'FontAwesome';
    color:red;
    position: relative;
    left: -5px;
    content: "\f002";
}
.navbar-form{
   margin-left: 30%;
   margin-right: 10%;
}
.header-Img {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.pinimg.com/originals/51/95/eb/5195ebb8c5f9772deda82aa2937134d3.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

  }
  .header-text {
     top: 75%;
    left:40%; 
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
  }
  header{
      margin-bottom: 30px;;
  }

.nav1{
    color: gray;
}
.active{
    color: black;
    border-bottom:1px solid black;
}
#sideForm{
    border: none;
border-color: transparent;
border-bottom: 1px solid grey;
width: 15em;
}

/* 
  .horizontal-scroll-wrapper >a {
    width: 100px;
    height: 100px;
    transform: rotate(90deg);
    transform-origin: right top;
  }
  .horizontal-scroll-wrapper {
    width: 100px;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg);
    transform-origin: right top;
    transform:rotate(-90deg) translateY(-100px);
  } */
  .flex-container {
    display: flex;
    flex-wrap: nowrap; 
    overflow: auto;
  }
  .flex-item {
    flex: 0 0 auto;
  }
  ::-webkit-scrollbar {
    width: 15px;
    border-radius: 30px 30px 30px 30px;
    height: 7px;;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 1px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
}