body, html {
    height: 100%;
}
/* form{
    margin: 0 auto;
    text-align: center;
} */
#NavForm{
    border-radius: 30px 30px 30px 30px;
    width: 400px;
    /* align-items: center; */
    /* justify-self: center; */
    
    
}
.navbar{
    margin-bottom: 0;
    border: 0;
}
.wrapper input[type="text"] {
    position: relative; 
}

input { font-family: 'FontAwesome'; } /* This is for the placeholder */

.wrapper:before {
    font-family: 'FontAwesome';
    color:red;
    position: relative;
    left: -5px;
    content: "\f002";
}
.navbar-form{
   margin-left: 30%;
   margin-right: 10%;
}
.header-Img {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/headerimg.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

  }
  .header-text {
     top: 80%;
    left:40%; 
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
  }
  header{
      margin-bottom: 30px;;
  }

.nav1{
    color: gray;
}
.active{
    color: black;
    border-bottom:1px solid black;
}
 
